pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select top 5 Id from MobileSessionDetails",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlinputdataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "Create_DATE",
											"value": {
												"value": "@convertTimeZone(utcnow(),'UTC','India Standard Time')",
												"type": "Expression"
											}
										},
										{
											"name": "id2",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": "select top 5 * from MobileSessionDetails",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": "TRUNCATE  TABLE MobileSessionDCopy",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Id",
												"type": "Int64",
												"physicalType": "bigint"
											},
											"sink": {
												"name": "Id",
												"type": "Int64",
												"physicalType": "Int64"
											}
										},
										{
											"source": {
												"name": "Employee Code",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Employee Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "EmployeeName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "EmployeeName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "CreatedOn",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "CreatedOn",
												"type": "DateTime",
												"physicalType": "DateTime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sqlinputdataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sqloutputdataset",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-14T11:49:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}